/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html {
    height: 100%;
    width: 100%;
    min-height: 100%;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFFFFF;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:18px;
    height:100%;
    margin:0px;
    width:100%;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;

}

.footer{
    position: relative;
    height: 6%;
    width: 100%;
    min-height: 6%;
    max-height: 50px;
    min-width: 100%;
    color: #16a085;
    background-color: #16a085;
    bottom:0;
}
.header{
    position: relative;
    height: 6%;
    width: 100%;
    min-height: 6%;
    min-width: 100%;
    color: #16a085;
    background-color: #16a085;
    top:0;
}
.center{

    height: 88%;
    min-height: 88%;
    width: 100%;
    min-width: 100%;
}
.spacer{
    height: 10%;
    min-height: 10%;
    max-width: 10%;
    width: 100%;
    min-width: 100%;
    background-color: white;
}
.minspacer{
    height: 3%;
    min-height: 3%;
    max-width: 3%;
    width: 100%;
    min-width: 100%;
    background-color: white;
}
.logo{
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    padding: 19px 0 0 0;
    margin: 0px 19px 4px 19px;
    display: block;

}
.botao1{
    height: 22px;
    max-height:22px;
    min-height: 22px ;
    width: 97%;
    min-width: 97%;
    max-width: 97%;
    margin: 0 1.5% 0 1.5%;
    background-color: #16a085;
    border-radius: 7.5px 7.5px 0 0;
    border-bottom: 1px solid #1C8174;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
   
    padding: 11px 0 11px 0;
}
.botao2{
    height: 22px;
    max-height:22px;
    min-height: 22px ;
    width: 97%;
    min-width: 97%;
    max-width: 97%;
    margin: 0 1.5% 0 1.5%;
    background-color: #16a085;
    border-radius: 0;
    border-bottom: 1px solid #1C8174;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 11px 0 11px 0;
}
.botao3{
    height: 22px;
    max-height:22px;
    min-height: 22px ;
    width: 97%;
    min-width: 97%;
    max-width: 97%;
    margin: 0 1.5% 0 1.5%;
    background-color: #16a085;
    border-radius: 0 0 7.5px 7.5px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600; 
    padding: 11px 0 11px 0;
}
.botao1:active, .botao1:after, .botao1:hover,.botao2:active, .botao2:after, .botao2:hover,.botao3:active, .botao3:after, .botao3:hover{
    background-color: #2BAB92;
    border-color: #2BAB92;
}
.botao1 img,.botao2 img,.botao3 img{
    height: 20px;
    max-height:20px;
    min-height: 20px ;
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    margin: 1px 0 0 15px !important;
}
.texto{
    width: 97%;
    min-width: 97%;
    max-width: 97%;
    margin: 0 1.5% 0 1.5%;
    font-size: 18px;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    color: #444;
}